.comment  {
  color: #fff;
  text-align: center;
}
#comment.comment {
  padding: 70px 0; /* Ajoute un padding de 70px en haut et en bas */
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  border: solid 1px #17455e;;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); 
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


.rating-stars {
  margin: auto;
  max-width: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-wrapper {
  padding-bottom: 40px;
}

