@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Squada+One&family=Teko:wght@300..700&display=swap');

@import "./layout/index";
@import "./components/index";

:root {
	--font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Poppins", sans-serif;
	--font-third: "Lato", sans-serif;
	--font-fourth: "Oswald", sans-serif;
}

/* Colors */
:root {
	--color-default: #222222;
	--color-primary: #fff;
	/*--color-secondary: #f85a40;*/
	--color-secondary: #fff;
	--color-primary-rgb: 0, 131, 116;
	--color-primary-bg: rgba(33, 34, 38, 1);
	--color-secondary-airsoft: rgba(255, 116, 0, 1);
	--color-secondary-lasergame: 255,0,245;
	--color-secondary-paintball: rgba(51,0,255,1);
	--color-primary-paintball: rgba(255,0,0,1);
}

/* Fonts */
:root {
	--font-size-primary: 1.5rem;
	--font-size-mobile: 1em;
}

/* Smooth scroll behavior */
:root {
	scroll-behavior: smooth;
}

body{
	background: var(--color-primary-bg);
}

section{
	padding: 100px 300px;
}

a {
	text-decoration: none;
}

/*-------------     DESCRIPTION    -------------*/
#description_bloc
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.description_box{
	h2{
		color: #fff;
		font-family: var(--font-fourth);
		font-size: 3em;
		text-transform: uppercase;
	}
	p{
		color: #fff;
		font-size: 1.7em;
		font-family: var(--font-fourth);
	}
}

/*-------------     SECTION TITLE   -------------*/
.col-md-12.title_box
{
	background: rgba(33, 34, 38, 1);
	display: flex;
}

.title_box.align_right
{
	flex-direction: row-reverse;
}

.title_box_border
{
	height: 120px;
	width: 20px;
	//background-image: linear-gradient(to bottom, #FF0000 0%, #3300FF 100%);
	background-image: var(--color);
}

.section_title
{
	
	background: var(--color-primary-bg);
	/*padding: 0 25px;*/
	padding: 25px;
	/*margin-bottom: 2rem;*/
	
	h2{
		color: #fff;
		font-size: 3rem;
		font-family: var(--font-fourth);
		text-transform: uppercase;
		font-weight: 500;
	}
}

.section_title.align_left{
	//border-left: 25px solid var(--color);
	display: flex;
	justify-content: flex-start;
	/*margin-left: 25%;*/
}

.section_title.align_right{
	//border-right: 25px solid var(--color);
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	/*margin-right: 25%;*/
}

/*------------------    Gallery    -----------------*/
#gallery{
	/*margin-top: 200px;*/
}

/*------------------    Activity    -----------------*/
#activity
{
	height: 80vh;
	display: flex;
	//justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	/*margin-top: 5rem;*/
	
	.row.content{
		color: #fff;
		display: flex;
		//justify-content: flex-end;
		align-items: center;
		font-size: 1.7rem;
		//max-width: 600px;
		font-family: var(--font-fourth);
		overflow: hidden;
	}
}

/*------------------    Immersion    -----------------*/
#immersion{
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	/*margin-top: 5rem;*/
	
	.row.content{
			color: #fff;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 1.7rem;
			max-width: 600px;
			font-family: var(--font-fourth);
	}
}

/*------------------    Immersion    -----------------*/
#equipment
{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.equipment_content
{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------------    Activity    -----------------*/
.contact_form_box
{
	color: #fff;
}

/*------------------    Values    -----------------*/
#values{
	.values_content{
		color: #fff;
		font-family: var(--font-fourth);
		font-size: 1.7em;
		margin: 100px 0;
		padding: 81px 60px;
	}
}

/*------------------    Media Query   ---------------*/
@media screen and (max-width: 1280px){
	section{
		padding: 20px 0;
	}
	
	.section_title{
		h2{
			font-size: 2em;
		}
	}
}
