.image_stack {
	display: flex;
	position: relative;
}

.stack_back {
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 30px;
}

.stack_front {
	height: 100%;
	z-index: 2;
	
}

.stack_front,
.stack_back
{
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}